* {
    margin: 0;
    padding: 0;
    margin: auto;
    max-width: 900px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #002d55;
    color: white;
}

#photo {
    max-width: 80px;
    border-radius: 50%;
}

header {
    text-align: center;
    padding-top: 30px;
}

section .container {
    padding: 10px;
}

button {
    display: block;
    padding: 10px;
    margin-top: 15px;
    border: 1px solid gray;
    border-radius: 20px;
    width: 50%;
    cursor: pointer;
}

h4{
    color:#a2a2a2;
}
 
a{
    text-decoration: none;
}


